#{extends 'main.html' /}
#{set 'moreStyles'}

<link rel="stylesheet" type="text/css" href="/public//stylesheets/spotlight.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/spotlight.css">
#{/set}
    <section class="section1">
        <div class="container">
            <div class="text-center top-head">
                <span class="sloganTOp">SPOTLIGHT</span>
            </div>
        </div>
    </section>


<section id="teams" class="section teams">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist1.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Kristopher Dodd</h4>
                        <h5 class="role">July 31, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">blackrose_gamers  1k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  500+ Subscribers</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist2.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Richa Rich</h4>
                        <h5 class="role">July 20, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">RichaTopno  400+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">TheRpt  1k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">RichaTopnoMusic  1k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist3.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Matthew Palaje</h4>
                        <h5 class="role">July 7, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Matthew_Palaje  900+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">UCqPKR  18k+ Subscribers</span></li></a>
                        <!--<a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>-->
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist4.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Yuri Fox</h4>
                        <h5 class="role">June 26, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Omar_Yuri  21k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">YuriFoX1  250k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">OmarCabanMusic  13k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div><div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist1.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Kristopher Dodd</h4>
                        <h5 class="role">July 31, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">blackrose_gamers  1k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  500+ Subscribers</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist2.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Richa Rich</h4>
                        <h5 class="role">July 20, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">RichaTopno  400+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">TheRpt  1k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">RichaTopnoMusic  1k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist3.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Matthew Palaje</h4>
                        <h5 class="role">July 7, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Matthew_Palaje  900+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">UCqPKR  18k+ Subscribers</span></li></a>
                        <!--<a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>-->
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist4.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Yuri Fox</h4>
                        <h5 class="role">June 26, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Omar_Yuri  21k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">YuriFoX1  250k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">OmarCabanMusic  13k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div><div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist1.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Kristopher Dodd</h4>
                        <h5 class="role">July 31, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">blackrose_gamers  1k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  500+ Subscribers</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist2.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Richa Rich</h4>
                        <h5 class="role">July 20, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">RichaTopno  400+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">TheRpt  1k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">RichaTopnoMusic  1k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist3.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Matthew Palaje</h4>
                        <h5 class="role">July 7, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Matthew_Palaje  900+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">UCqPKR  18k+ Subscribers</span></li></a>
                        <!--<a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>-->
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist4.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Yuri Fox</h4>
                        <h5 class="role">June 26, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Omar_Yuri  21k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">YuriFoX1  250k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">OmarCabanMusic  13k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div><div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist1.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Kristopher Dodd</h4>
                        <h5 class="role">July 31, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">blackrose_gamers  1k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  500+ Subscribers</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist2.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Richa Rich</h4>
                        <h5 class="role">July 20, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">RichaTopno  400+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">TheRpt  1k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">RichaTopnoMusic  1k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist3.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Matthew Palaje</h4>
                        <h5 class="role">July 7, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Matthew_Palaje  900+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">UCqPKR  18k+ Subscribers</span></li></a>
                        <!--<a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">KushtopherDodd  150k+ Followers</span></li></a>-->
                    </ul>
                </div><!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="public/images/artist/artist4.png" alt="" class="img-responsive person-frame">
                    <div class="person-content">
                        <h4>Yuri Fox</h4>
                        <h5 class="role">June 26, 2017</h5>
                        <!--<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>-->
                    </div>
                    <ul class="list-unstyled iconss">
                        <a href="#"><li><img src="public/images/facebook-logo.png">    <span class="socialDetail">Omar_Yuri  21k+ Followers</span></li></a>
                        <a href="#"><li><img src="public/images/instagram-social-network-logo-of-photo-camera (2).png">    <span class="socialDetail">YuriFoX1  250k+ Subscribers</span></li></a>
                        <a href="#"><li><img src="public/images/youtube-symbol.png">    <span class="socialDetail">OmarCabanMusic  13k+ Likes</span></li></a>
                    </ul>
                </div><!-- person -->
            </div>
        </div>
    </div>